# Disable raw storage environments
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set

CONFIG_ENV_SOURCE_FILE="rzv2h-dev"
CONFIG_BOOTDELAY=3
# Use FAT for the environment file (Partition 1)
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_ENV_FAT_FILE="u-boot.env"
# CONFIG_BOOTSTD is not set
# CONFIG_BOOTSTD_BOOTCOMMAND is not set
# CFG_EXTRA_ENV_SETTINGS is not set
CONFIG_USE_BOOTCOMMAND=y
# CONFIG_BOOTCOMMAND bootstrap
CONFIG_BOOTCOMMAND="if test -z \"${scriptaddr}\"; then setenv scriptaddr 0x70000000; fi; for p in 2 3; do if ext4load mmc 0:${p} ${scriptaddr} /boot/boot.scr; then env import -t ${scriptaddr} ${filesize}; run rauc_logic; fi; done"
